{% extends 'base.html.twig' %}

{% block title %}Hello ReportsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <section class="mt-1">
        <div class="container-fluid">
            <div class="row m-1">
                <div class="col-xl-12">
                    <div class="example-wrapper">
                        <h1>Hello {{ controller_name }}! ✅</h1>
                        <!--This friendly message is coming from:
                    <ul>
                        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/wsm-backend-test-rod_mel/src/Controller/ReportsController.php'|file_link(0) }}">src/Controller/ReportsController.php</a></code></li>
                        <li>Your template at <code><a href="{{ 'C:/wamp64/www/wsm-backend-test-rod_mel/templates/reports/index.html.twig'|file_link(0) }}">templates/reports/index.html.twig</a></code></li>
                    </ul>-->
                    </div>
                </div>
                <br>
                <div class="row m-1">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-12">
                                <h4 class="text-left">Please enter the Account ID you'd like to display:</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <form class="row gx-3 gy-2 align-items-center">
                                    <div class="col-sm-12 mb-1">
                                        <label class="visually-hidden" for="accountId">Name</label>
                                        <input type="text" id="accountId" name="accountId" class="form-control" placeholder="Account Id">
                                    </div>

                                    <div class="col-sm-12 mt-1">
                                        <button type="submit" id="btnGetData" class="btn btn-primary" value="1">Get Data</button>
                                        <button type="submit" id="btnShowAll" class="btn btn-primary" value="2">Show All</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-6">

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row m-1">
                    <div class="col-xl-12">
                        <p class="text-left">
                            Aggregated performance for All <strong>ACTIVE</strong> accounts listed below:
                        </p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Account Name</th>
                                <th scope="col">Account ID</th>
                                <th scope="col">Spend</th>
                                <th scope="col">Clicks</th>
                                <th scope="col">Impressions</th>
                                <th scope="col">Cost per Click</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in cuentas %}
                                <tr>
                                    <th scope="row">{{data["accountName"]}}</th>
                                    <td>{{ data["accountId"] }}</td>
                                    <td>{{ data["spend"] }}</td>
                                    <td>{{ data["clicks"] }}</td>
                                    <td>{{ data["impressions"] }}</td>
                                    <td>{{ data["costPerClick"] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
